*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*----------Обнуление стандартных стилей----------*/

body{
    --item-bg-color: white;
    --item-box-shadow: 0 1px 4px rgba(0,0,0,.12), 0 2px 18px rgba(0,0,0,.24);
}

.container{
    max-width: 1010px;
    margin: 0 auto;
}

.header{
    display: flex;
    padding: 30vh 0 50px;

    .header__title{
        font-weight: normal;
        text-align: center;
        font-size: 56px;
        line-height: 70px;
    }

    .header__ico{
        height: 100%;
    }
}

.main{
    .items-row{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .item{
        display: flex;
        justify-content: space-between;
        border-radius: 16px;
        background-color: var(--item-bg-color);
        box-shadow: var(--item-box-shadow);
        padding: 24px;

        .item__title{
            font-weight: normal;
            font-size: 32px;
            margin-bottom: 10px;
        }
        
        p{
            font-size: 16px;
        }

        label{
            font-weight: bold;
        }

        .item__photo{
            max-width: 500px;
        }
    }
}

*{
    transition: border-color 1.2s ease-in;
}