{"level":"fatal","ts":"2024-11-01T06:27:26.422+0800","msg":"config validation error: Key: 'Config.ItemStore.Port' Error:Field validation for 'Port' failed on the 'required' tag"}
{"level":"info","ts":"2024-11-01T06:29:14.819+0800","msg":"Item store connection retry 1"}
{"level":"info","ts":"2024-11-01T06:29:19.824+0800","msg":"Item store connection retry 2"}
{"level":"info","ts":"2024-11-01T06:29:24.829+0800","msg":"Item store connection retry 3"}
{"level":"info","ts":"2024-11-01T06:29:24.829+0800","msg":"Item store connected"}
{"level":"info","ts":"2024-11-01T06:31:00.480+0800","msg":"Item store connection retry 1"}
{"level":"info","ts":"2024-11-01T06:31:05.486+0800","msg":"Item store connection retry 2"}
{"level":"info","ts":"2024-11-01T06:31:10.491+0800","msg":"Item store connection retry 3"}
{"level":"info","ts":"2024-11-01T06:31:10.491+0800","msg":"Item store connected"}
{"level":"info","ts":"2024-11-01T06:34:05.061+0800","msg":"Item store connection retry 1"}
{"level":"info","ts":"2024-11-01T06:34:10.067+0800","msg":"Item store connection retry 2"}
{"level":"info","ts":"2024-11-01T06:34:15.072+0800","msg":"Item store connection retry 3"}
{"level":"info","ts":"2024-11-01T06:34:15.072+0800","msg":"Item store connected"}
{"level":"info","ts":"2024-11-01T06:38:50.074+0800","msg":"Item store connection retry 1"}
{"level":"info","ts":"2024-11-01T06:38:55.107+0800","msg":"Item store connected"}
{"level":"info","ts":"2024-11-01T06:38:55.149+0800","msg":"Item store migrated"}
{"level":"info","ts":"2024-11-01T06:38:55.159+0800","msg":"Server routes was initialized"}
{"level":"info","ts":"2024-11-01T06:38:55.159+0800","msg":"Server instance created"}
{"level":"info","ts":"2024-11-01T06:38:55.159+0800","msg":"App instance created"}
{"level":"info","ts":"2024-11-01T06:38:55.159+0800","msg":"App running..."}
{"level":"info","ts":"2024-11-01T06:43:00.968+0800","msg":"Item store connection retry 1"}
{"level":"info","ts":"2024-11-01T06:43:05.983+0800","msg":"Item store connected"}
{"level":"info","ts":"2024-11-01T06:43:06.011+0800","msg":"Item store migrated"}
{"level":"info","ts":"2024-11-01T06:43:06.019+0800","msg":"Server routes was initialized"}
{"level":"info","ts":"2024-11-01T06:43:06.019+0800","msg":"Server instance created"}
{"level":"info","ts":"2024-11-01T06:43:06.019+0800","msg":"App instance created"}
{"level":"info","ts":"2024-11-01T06:43:06.019+0800","msg":"App running..."}
{"level":"info","ts":"2024-11-01T06:46:44.191+0800","msg":"Item store connection retry 1"}
{"level":"info","ts":"2024-11-01T06:46:49.205+0800","msg":"Item store connected"}
{"level":"info","ts":"2024-11-01T06:46:49.244+0800","msg":"Item store migrated"}
{"level":"info","ts":"2024-11-01T06:46:49.256+0800","msg":"Server routes was initialized"}
{"level":"info","ts":"2024-11-01T06:46:49.256+0800","msg":"Server instance created"}
{"level":"info","ts":"2024-11-01T06:46:49.256+0800","msg":"App instance created"}
{"level":"info","ts":"2024-11-01T06:46:49.256+0800","msg":"App running..."}
